<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	{% include tagmanager.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper welcome">
      	<div class="slick-container-container">
	      	<div class="slick-container">
		      	<div class="slick">
		    		<div>
						<p>Bienvenido a la audioguía del Museo de San Isidro. Los Orígenes de Madrid.</p>

						<p>Todo lo que necesitas saber para disfrutar de la visita.</p>
						<div class="prompt slick-slide-to-next">Desliza para leer más
						<span class="button-forward">
	      					<img src="{{ site.baseurl }}/assets/img/icons/button_forward.png"/>
	    				</span>
	    				</div>
					</div>
					<div>
						<p>Busca el símbolo de los auriculares en la exposición y luego pulsa el número que tienes delante para empezar.</p>
						<p>
							<img class="welcome-example-icon slick-slide-to-next" src="{{ site.baseurl }}/assets/img/welcome/example-headphones-icon.gif"/>
						</p>
					</div>
					<div>
						<p>Pulsa el icono del menú en la parte superior derecha de la pantalla para cambiar de parada.</p>
						<p>
							<img class="screenshot slick-slide-to-next" src="{{ site.baseurl }}/assets/img/welcome/highlight-bento-menu.gif"/>
						</p>
					</div>
					<div>
						<p>Usa los botones en la parte inferior de la pantalla para ir a la siguiente o anterior parada.</p>
						<p>
							<img class="screenshot slick-slide-to-next" src="{{ site.baseurl }}/assets/img/welcome/highlight-footer-buttons.gif"/>
						</p>
					</div>
					<div>
						<br/>
						<p class="centered"><a href="{{ site.baseurl }}/">¡Empezamos!</a></p>
						<p class="centered">
							<a href="{{ site.baseurl }}/" class="prompt-big"><button class="styled-button"><img src="{{ site.baseurl }}/assets/img/icons/button_forward.png"/></button></a>
						</p>
					</div>
		    	</div>
		    </div>
		</div>
	    <div id="arrows-container">
	    </div>

        {{ content }}
      </div>
      	    <p class="skip-text">
	    	<a href="{{ site.baseurl }}/">
	        	¡Estoy listo, empecemos!
	    	</a>
	    </p>
    </div>

  </body>

</html>
